<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mualliflar</title>
</head>
<body>
<form method="get">
     <input type="text" name="qidiruv">
     <button>Qidirish</button>
  </form>
  <br>
  <br>
  <h1> Barcha mualliflar ro'yxati:</h1>
  {% for muallif in mualliflar %}
 <h2> <a href="/muallif_ozgartir/{{muallif.id}}/">{{muallif.ism}}</a ></h2>
  <a href = "/vazifa2/{{muallif.id}}/"><button> O'chirish </button></a>
  <br>
  {% endfor %}

    <br>
    <br>
    <form method="post">{% csrf_token %}
        {{forma}}
<!--        <input type="text" name="i" placeholder="Ism">-->
<!--        <input type="number" name="k_s" placeholder="Kitob_soni">-->
<!--        <input type="text" name="j" placeholder="Jinsi">-->
<!--        <input type="number" name="t_y" placeholder="Tug'ilgan_yili">-->
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
</body>
</html>